{
	"tabWidth": 4,
	"endOfLine": "lf",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "never",
	"singleQuote": false,
	"useTabs": true
}
